*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(119, 194, 243);
}

#container {
    width: 920px;
    height: 615px;
    border: 1px solid #111;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(193, 228, 252);
}

.card{
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 10px;
    perspective: 600px;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}

.back{
    background: url("../img/verso.jpg");
}

.back.flipped{
    transform: rotateY(180deg);
}

.front{
    background: url("../img/01.jpeg");
    transform:  rotateY(-180deg);
}

.front.flipped{
    transform:  rotateY(0deg);
}

.card:hover{
    box-shadow: 0 0 10px rgb(62, 43, 148);
}